

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 200% 200%;
    animation: gradientShift 8s linear infinite;
    background-image: linear-gradient(135deg, #113f67 25%, #23eaf1 25%, #23eaf1 50%, #113f67 50%, #113f67 75%, #23eaf1 75%, #23eaf1);
}

@keyframes gradientShift {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.bg-dynamic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: -1; /* Ensure the background is behind your content */
}

.wave {
    animation: moveWave 7s linear infinite;
    fill: #23eaf1;
}

.wave:nth-child(2) {
    animation-delay: -3.5s;
}

@keyframes moveWave {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Estilos para el botón de apertura del modal */
.modal-open-button {
    cursor: pointer;
}

/* Estilos para el modal y su contenido */
.modal-checkbox {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

/* Estilos para el botón de cierre del modal */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Mostrar el modal cuando la casilla esté marcada */
.modal-checkbox:checked + .modal {
    opacity: 1;
    pointer-events: auto;
}


.container {
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 2rem;
    width: 400px;
}

.logo {
    text-align: center;
    margin-bottom: 2rem;
}

.login-box {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 1.5rem;
    
}

.form-buttons button {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    background-color: #099cc8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group label {
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #b8b8b8;
    border-radius: 1px;
    font-size: 1rem;
}

.form-buttons {
    align-items: center;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: #099cc8;
    color: white;
    cursor: pointer;
    padding: 0.5rem 0.5rem; /* Espacio alrededor del contenido del botón */
    border: none;
    display: inline-block; /* Hacer que el botón se comporte como un elemento en línea */
    justify-content: center;
    width: auto;
}

.form-buttons button:hover {
    background-color: #046481;
}

.logo a {
    color: #0d4495; /* El mismo color que el h1 del logo */
    text-decoration: none; /* Para remover el subrayado del enlace */
}
.logo a:hover {
    color: #099cc8; /* Un color un poco más claro para el hover */
}

.first-part {
    color: #345796;
}

.last-part {
    color: #345796;
    font-size: 2.6rem
}
