body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #209dc3, #000000);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: #0d4495;
    text-decoration: none;
}

.logo a:hover {
    color: #099cc8;
}

.form-buttons button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #099cc8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-buttons button:hover {
    background-color: #0781a6;
}

.empresa-btn,
.postulant-btn,
.company-btn {
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.empresa-btn:hover {
    background-color: #0781a6;
}

.postulant-btn:hover {
    background-color: #0781a6;
}

.company-btn:hover {
    background-color: #0781a6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cce5ff;
    color: #004085;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}