body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #209dc3, #000000);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 80%;
    height: 80%; 
    padding: 2rem;
}

.logo a {
    color: #0d4495;
    text-decoration: none;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-buttons button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #099cc8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-buttons button:hover {
    background-color: #0781a6;
}
