body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom right, #209dc3, #000000);
}

header {
    background-color: #113f67;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}
.form-buttons button:hover {
    background-color: #046481;
}
.form-buttons label.modal-open-button {
    cursor: pointer;
}
/* Estilos para el modal y su contenido */
.modal-checkbox {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

/* Estilos para el botón de cierre del modal */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Mostrar el modal cuando la casilla esté marcada */
.modal-checkbox:checked + .modal {
    opacity: 1;
    pointer-events: auto;
}
.actions {
    display: flex;
    gap: 10px;
}

.login-btn, .signup-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color: #5daed4;
    color: white;
}

.search-bar {
    height: 25x;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Perfil */
.user-session {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-avatar {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-size: 0.9rem;
    color: white;
}

.user-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #5daed4;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.user-dropdown a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.user-dropdown a:hover {
    background-color: #499cb7;
}

.user-session:hover .user-dropdown {
    display: block;
}
/*-----------------------*/

.search-bar input {
    height: 17px;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 80%; 
}

.search-bar button {
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #5daed4;
    border: 1px solid a2a8d3;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.job-offers {
    padding: 2rem;
    max-width: 60%;
    margin: 2rem auto;
    background-color: #f9f9f9;  
}

.job-card a {
    text-decoration: none;
}

.job-card {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.keywords {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3%;
    top: 12%;
    max-height: 80%;
    max-width: 20%;
    min-width: 10%;
    overflow-y: auto;
    border: 1px solid #113f67;
    padding: 1rem;
    background-color: #f5f5f5;
    margin-top: 3%;

    background: linear-gradient(145deg, #e6e6e6, #f9f9f9);
    border: 1px solid #d4d4d4;

    border-radius: 12px;
}

.keywords h3 {
    text-align: center;
    margin-bottom: 1rem;
    padding: 10px 0;
}

.keywords a {
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #2c3e50;
    transition: color 0.3s;
    padding: 5px 10px;
    display: block; 
    border-radius: 8px;
    transition: background-color 0.3s;
}

.keywords a:hover {
    background-color: rgba(93, 174, 212, 0.1);
    font-size: 1.1rem;
}

.dropbtn {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 1.5rem;
    z-index: 1001;
    margin-right: 15px;
}

.side-menu {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #113f67;
    color: white;
    border: none;
    transition: left 0.3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    width: 100%; 
}

.side-menu ul li {
    padding: 15px 20px; 
}

.side-menu ul li:last-child {
    border-bottom: none; 
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem; 
    display: block; 
    transition: color 0.3s, background-color 0.3s; 
}

.side-menu ul li a:hover {
    font-size: 1.4rem

}

#menuToggle:checked ~ .side-menu {
    left: 0;
}

#menuToggle {
    display: none;
}

.first-part {
    color: white;
}

.last-part {
    color: #5990f7;
    font-size: 2.6rem
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    z-index: 1001;
}

.fancy-box {
    background: linear-gradient(145deg, #e6e6e6, #f9f9f9);
    border: 1px solid #d4d4d4;
    border-radius: 12px;
}

.job-card, .job-offers, .keywords {
    
    background: linear-gradient(145deg, #e6e6e6, #f9f9f9);
    border: 1px solid #d4d4d4;
    border-radius: 12px;
}
.job-card h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #05789b;
    margin-bottom: 0.8rem; 
    margin-top: 0.4rem;
    position: relative;
    padding-left: 30px;
}

.job-card h3:before {
    content: '\1F4BB';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #099cc8;               
}


.interested-btn {
    display: inline-block;
    background-color: #099cc8;  
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;  
    transition: background-color 0.3s;
}

.interested-btn:hover {
    background-color: #045770;  
}

.job-card {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.job-image {
    width: 330px;  
    height: 185px; 
    border-radius: 4px;
}
.enterprise-link {
    color: #29a3c7;  /* You can adjust the color as per your preference */
    text-decoration: none;
    transition: color 0.3s;
}

.enterprise-link:hover {
    color: #03465e; /* This color will show when you hover over the link */
    font-weight: 600;

}

.logo-link {
    text-decoration: none; /* Removes the underline from the link */
    color: inherit; /* Uses the parent's text color, ensuring the colors you set in the <h1> apply */
    display: inline-block; /* To make the block elements inside work properly */
}

.logo-link:hover {
    /* Add any hover styles you want here. For instance: */
    opacity: 0.8; /* Makes the link slightly transparent when hovered */
}


.form-buttons {
    align-items: center;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: #099cc8;
    color: white;
    cursor: pointer;
    padding: 0.5rem 0.5rem; /* Espacio alrededor del contenido del botón */
    border: none;
    display: inline-block; /* Hacer que el botón se comporte como un elemento en línea */
    justify-content: center;
    width: auto;
}

.form-buttons button:hover {
    background-color: #046481;
}
/* Estilo de la capa de fondo del modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 999; /* Asegura que esté por encima del contenido */
  display: none; /* Inicialmente oculta la capa de fondo */
}